# =======================
# Compilación de NestJS
# =======================
/dist

# =======================
# Entornos de desarrollo
# =======================
.env


# =======================
# Logs
# =======================
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
