main {
  min-height: 100vh;
}

.container-padre {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1rem;
  max-width: 800px;
  margin: 1rem auto;
}

.nosotros-item,
.nosotros-img,
.subtitulo-nosotros,
.nosotros-grid {
  width: 100%;
  box-sizing: border-box;
}

.nosotros-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-lighter);
  border-radius: 16px;
  padding: 2rem 1rem;
  transition: transform 0.3s ease;
  box-shadow: var(--shadow-sm);
  margin: 2rem auto;
}

.nosotros-img :hover {
  transform: scale(1.05);
}

.nosotros-item h1 {
  padding: 0.5rem;
  text-align: center;
  color: var(--color-lighter);
  background: linear-gradient(180deg, var(--color-dark), var(--color-darker));
  font-size: xx-large;
  font-family: var(--font-logo);
}

.nosotros-img img {
  width: 70%;
  height: auto;
  object-fit: cover;
  border-radius: 16px;
}

h2 {
  width: 100%;
  padding: 0.5rem;
  text-align: center;
  color: var(--color-lighter);
  background: linear-gradient(180deg, var(--color-dark), var(--color-darker));
  font-family: var(--font-main);
}

.nosotros-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.nosotros-info span {
  font-weight: bold;
}

.nosotros-info i {
  padding-right: 1rem;
  color: var(--color-primary-dark);
}

.nosotros-info p {
  font-family: var(--font-main);
  font-size: 1rem;
  text-align: justify;
  line-height: 2;
  margin: 2rem auto;
}

@media (max-width: 768px) {
  .container-padre {
    margin: 0;
    padding: 0;
  }

  p {
    padding: 1rem;
  }
}

main {
  min-height: 100vh;
}

.container-padre {
  display: grid;
  grid-template-columns: 1fr; /* Una sola columna */
  gap: 2rem;
  padding: 1rem;
  max-width: 800px;
  margin: 2rem auto;
}

.nosotros-item,
.nosotros-img,
.subtitulo-nosotros,
.nosotros-grid {
  width: 100%;
  box-sizing: border-box;
}

.nosotros-item{
    background-color: var(--color-dark);
}
.nosotros-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-lighter);
  border-radius: 16px;
  padding: 2rem 1rem;
  /* El alto se ajusta al contenido automáticamente */
}
.nosotros-img :hover {
  background-color: var(--color-light);
  transition: background-color var(--transition-fast);
  border-radius: 16px;
  padding: 2rem 1rem;

}   
gi
.nosotros-item h1 {
  margin: 0;
  text-align: center;
}

.nosotros-img img {
  width: 70%;
  height: auto;
  object-fit: cover;
  border-radius: 16px;
}

.subtitulo-nosotros {
  text-align: center;
  margin-top: 2rem;
}

.nosotros-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  padding: 1rem;
  max-width: 1200px;
  margin: 2rem auto;
}

.nosotros-info {
  padding: 1rem;
  text-align: center;
}

.nosotros-info h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.nosotros-info p {
  font-size: 1rem;
  line-height: 1.5;
}
.slider{
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
    overflow: hidden;
    position: relative;
}
.slider .slider-track{
    display: flex;
    animation: scroll 15s linear infinite;
    width: 100%;
}

.slider .slide-text{
    width: 100%;

}
.slider p{
    font-family: Ubuntu, sans-serif;
    font-size: 120%;
    font-weight: 700;
    
}
.slide {
  display: flex;
  align-items: center;
  gap: 0.8rem; /* Espacio entre icono y texto */
}

.slide i {
  color: var(--color-primary-dark);
  font-size: 2rem; /* Tamaño del icono */
}


@keyframes scroll {
    0% {
        transform: translateX (0px); /* Desplazamiento horizontal A LA IZQUIERDA */
    }
    100% {
        transform: translateX(1000px); /* Desplazamiento horizontal A LA DERECHA */
    }
}
