main {
  min-height: 100vh;
}

.filtros {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 0 1rem;
}

#filtro-form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

#filtro-form input,
#filtro-form select,
#filtro-form button {
  font-family: var(--font-main);
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
  flex: 1;
  min-width: 180px;
  border-radius: 5px;
  box-shadow: var(--shadow-sm);
}

#filtro-form button {
  background-color: var(--color-darker);
  color: var(--color-light);
  cursor: pointer;
  transition: all var(--transition-normal);
}

#filtro-form button:hover {
  background-color: var(--color-dark);
}

.productos-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  padding: 1rem;
  max-width: 1200px;
  margin: 2rem auto;
}

.imagen-contenedor {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.imagen-contenedor img {
  width: 100%;
  display: block;
}

.card-producto {
  position: relative;
  overflow: hidden;
  background: linear-gradient(0deg, var(--color-lighter), var(--color-primary));
  border: 1px solid #ddd;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease;
  box-shadow: var(--shadow-md);
}

.card-producto img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-producto .contenido {
  padding: 1rem;
}

.card-producto h3 {
  color: var(--color-darker);
  font-size: 1.05rem;
  margin-bottom: 1rem;
}

.card-producto p {
  margin: 0.25rem 0;
}

/* Botones fijos con opacidad */
.botones-hover {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card-producto:hover .botones-hover {
  opacity: 1;
}

.botones-hover button {
  padding: 10px 12px;
  border: none;
  border-radius: 50%;
  background-color: var(--color-dark);
  color: var(--color-lighter);
  font-weight: 500;
  font-family: var(--font-main);
  cursor: pointer;
  box-shadow: var(--shadow-md);
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.botones-hover button:hover {
  opacity: 1;
  background-color: var(--color-darker);
}

@media (hover: none) {
  .botones-hover {
    opacity: 1;
  }
}
